section {
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 7%;
}

input,
select {
  border: 1px solid var(--bg);
}

.submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}

#cbx-chart {
  margin-left: auto;
}

.date-between {
  display: none;
}

#btn-submit {
  height: 100%;
  padding: 0.2rem;
  background-color: var(--primary);
  color: #fff;
}

.list-product {
  overflow-y: auto;
  display: none;
  height: max-content;
}

.list-product::-webkit-scrollbar {
  display: none;
}

.product {
  height: 6rem;
  width: max-content;
  border: 1px solid var(--bg);
  margin: 0.5rem;
  border-radius: 1rem;
}

.product a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.product a img {
  height: 100%;
  width: 6rem;
  object-fit: cover;
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
}

.product a h3 {
  padding: 0.5rem;
  font-family: "areo", sans-serif;
  width: max-content;
}

.monitor {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  position: relative;
}

.monitor img {
  width: 100%;
  height: auto;
  border: 1px solid var(--bg);
  object-fit: cover;
}

.tbl {
  width: 100%;
  margin-top: 1.5rem;
}

.tbl h1 {
  font-family: "areo", sans-serif;
}

.tbl .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header {
  margin-top: 0.8rem;
  background-color: #ddd;
}

.tbl .row h3,
.tbl .row h2 {
  width: 12.5%;
  border: 1px solid var(--bg);
  padding: 0.5rem;
  text-align: center;
  font-family: "areo", sans-serif;
}

.tbl .row .title {
  text-align: left;
}

.tbl .row h3 {
  font-family: "arial", sans-serif;
  font-size: medium;
}
